<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icon.png">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#f5a33e"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Trusty Resto</title>
</head>
<body>
    <a href="#content" class="skip-link">Skip to content?</a>
    <!--Header, navbar, logo-->
<header class="header">
    <div class="menu-mobile">
        <div class="logo"><img src="images/logo.png" height="" width="50%" alt="Logo"></div>
        <div class="icon-menu" id="menu"><a href="#" aria-label="navigation-menu">☰</a></div>
    </div>
    <nav id="drawer" class="nav">
        <a class="logo" href=""><img src="images/logo.png" height="" width="20%" alt="Logo">  </a>
        <ul class="nav-list">
            <li class="nav-items"><a href="#/list">Home</a></li>
            <li class="nav-items"><a href="#/favorite">Favorite</a></li>
            <li class="nav-items"><a target="blank" rel="noopener" href="https://github.com/AgungP88">About Us</a></li>
        </ul>
    </nav>
    <div class="hero">
        <div class="inner-hero">
            <h1 class="title-hero">Trusty Resto</h1>
            <p class="subtitle-hero">The Most Comfortable and Trusted Place For Your Quality Time With Couples, Friends, and Your Family.</p>
            <button class="btn-jumbotron"><a href="#content">Explore More<br>⇩</a></button>
        </div>
    </div>
</header>
<!--Jumbotron-->
    
    <!--content-->
    <main id="content"></main>
    <!--Footer-->
    <footer>
        <p>Copyright © 2021 - Trusty Resto</p>
    </footer>
</body>
</html>
